body{
    font-family: 'DM Serif Display', serif;
    margin: 0px;
    margin-top: 50px;
}
h1{
    font-size: 50px;
}
p{
    font-size: 18px;
    padding: 10px 0px;
 }
.color{
    color: orange;
}
.flexible{
    display: flex;
}
.button-color{
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #EA556B;
    color: white;
    text-decoration: none;
    border: none;
    font-weight: 800;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    text-align: justify;
    margin-left: 50px;
}
.half-width img{
    width: 50%;    
    padding-left: 100px;
    padding-bottom: 100px;
    display: block;
}
.side-border{
    border-left: 5px solid;
    border-image: linear-gradient(#F33551, pink);
    border-image-slice: 1;
    padding-left: 30px;
    font-size: 70px;
}

.center{
    text-align: center;
    font-size: 40px;
}
.size{
    width: 35%;
    height: 35%;
    image-resolution: 5000dpi;
}
.mission-area{
    display: flex;   
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 20px;
}
.position{
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 27%; 
    padding-left: 10px;
    text-align: justify;
}
#background-color-1{
    background-color: #D2FDFF;
    
}
#background-color-2{
    background-color: #FECEFF;
}
#background-color-3{
    background-color: #FFDCCA;
}
.background1{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position-x: 70px;
    background-position-y: 20px;
    margin-bottom: 100px ;
}
div h2{
    font-size: 40px;
}
.image-position{
    width: 40%;
    padding-left: 150px;
}
.size1{
    width: 400px;
    height: 400px;
}
.text-position{
    width: 80%;
    padding-left: 2%;
    text-align: justify;
    
}
.background2{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position-x: 1030px;
    background-position-y: 200px;
    margin-bottom: 100px;
}
.background3{
    background-image: url(images/shapes/shape-6.png), url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: 250px, 550px;
    background-position-y: 0px, 400px;
    margin-bottom: 100px;
}
.size2{
    width: 550px;
    height: 330px;
    }
article{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}
.size3{
    margin-left: 150px;
    margin-top: 30px;
    width: 300px;
    height: 450px;
    image-resolution: 1000dpi;
}
footer{
    text-align: center;
    font-family:'Dancing Script', cursive;
    font-weight: 800;
    color: white;
    background-color: black;
    padding-bottom: 20px;
}